.top__img {
    object-fit: cover;
    width: 100%;
    height: 15rem;
    position: relative;
    z-index: -10;

    @media screen and (max-width: 1180px) and (min-width: 820px) {
        height: 20rem;
    }

    @media screen and (max-width: 1444px) and (min-width: 1185px) {
        height: 20rem;
    }
}

.rest__menu {
    padding: 2rem 0 2rem 1rem;
    border-radius: 3rem 3rem 0 0;
    background-color: rgb(239, 236, 236);
    margin-top: -3rem;
    position: relative;
    z-index: 20;
}

.food__menu {

    @media screen and (max-width: 1444px) and (min-width: 1185px) {
        display: flex;
        justify-content: space-evenly;
    }
}

.rest__name {
    font-family: $title-font;
    font-size: 1.8rem;
    width: 80%;
    padding-bottom: 1rem;

    @media screen and (max-width: 1180px) and (min-width: 820px) {
        font-size: 2.5rem;
    }

    @media screen and (max-width: 1444px) and (min-width: 1185px) {
        padding-left: 2rem;
    }
}

.rest__heart--menu {
    position: absolute;
    top: 2.7rem;
    right: 3.5rem;
    z-index: 30;

    @media screen and (max-width: 1180px) and (min-width: 820px) {
        right: 4.5rem;
    }

    @media screen and (max-width: 1444px) and (min-width: 1185px) {
        right: 5rem;
    }
}

.fa-heart {

    @media screen and (max-width: 1180px) and (min-width: 820px) {
        font-size: xx-large;
    }
}

.rest__heart--menu:hover {
    .rest__icon--empty {
        opacity: 1;
        background: linear-gradient(to bottom, $secondary-color 0%, $primary-color 100% );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
  
        /* fallback in case linear gradient doesn't work in the browser */
        color: rgba(250,184,66, 1);
    
        transition: opacity 500ms;
    }
}

.food__type {
    position: relative;
    @include font-weight(light);
    font-size: 1.1rem;
    margin-bottom: 1.5rem;

    @media screen and (max-width: 1180px) and (min-width: 820px) {
        font-size: 1.75rem;
    }
}

.food__type::after {
    content:'';
    height: 0.2rem;
    width: 10%;
    background: $tertiary-color;
    position: absolute;
    left: 0;
    bottom: -0.5rem;
}

.food__item {
    background-color: white;
    border-radius: 1rem;
    margin: 1rem 1rem 1rem 0;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    width: 95%;
    display: flex;
    animation: menu-item 4s 0.25s forwards;
    animation-delay: 2.5s;

    @media screen and (max-width: 1180px) and (min-width: 820px) {
        width: 98%;
    }
}

.food__item:hover {
    .food__item--tran {
        width: 50%;
        transition: width 3s;
    }

    .food__check {
        transform: rotate(-360deg);
        transition: transform 3s;
    }
}

.food__item--tran {
    width: 75%;
    flex: none;
    transition: width 3s;
    padding: 0.5rem 0 0.5rem 0.5rem;
}

.food__dish {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.food__price {
    position: relative;
    @include font-weight(bold);
    width: 25%;
    margin-bottom: 0.5rem;
    flex: none;

    span {
        position: absolute;
        right: 0.75rem;
        bottom: 0;
    }
}


.food {
    margin-bottom: 3rem;
}

.rest__btn {
    background: linear-gradient(to bottom, $secondary-color 0%, $primary-color 100% );
    margin: 0 5rem 3rem 4rem;
    border-radius: 5rem;
    padding: 1rem 0;
    color: white;
    text-align: center;
}

.food__animation {
    width: 25%;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    background-color: $tertiary-color;
}

.food__check {
    color: white;
    font-size: xx-large;
}

.food__inclu {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

h3, p, span {

    @media screen and (max-width: 1180px) and (min-width: 820px) {
        font-size: 1.75rem;
    }
}