.links__logo {
    -webkit-filter: invert(1);
    filter: invert(1);
    width: 6.3rem;
    padding-bottom: 1rem;

    @media screen and (max-width: 1180px) and (min-width: 820px) {
        width: 14rem;
        padding:0;
    }

    @media screen and (max-width: 1444px) and (min-width: 1185px) {
        width: 15rem;
    }
}

.links__info {
    font-size: 1.2rem;
    
    h3 {
        font-weight: 400;
    }

    @media screen and (max-width: 1180px) and (min-width: 820px) {
        font-size: 1.8rem;
        display: flex;
        align-items: flex-start;
        width: 75%;
        gap: 5%;
    }

    @media screen and (max-width: 1444px) and (min-width: 1185px) {
        display: flex;
        gap: 5%;
    }
}

.links__info a {
    padding-bottom: 0.5rem;
    text-decoration: none;
    color: white;
}

.links__icon {
    padding-right: 0.5rem;
    font-size: small;

    @media screen and (max-width: 1180px) and (min-width: 820px) {
        font-size: large;
    }
}

.links {
    
    background-color: rgb(64,64,64);
    width: 100%;
    padding: 2rem 1rem 1.5rem 1rem;

    @media screen and (max-width: 992px) and (min-width: 768px) and (orientation:portrait) {
        padding-left: 1rem;
    }
    
    @media screen and (max-width: 1180px) and (min-width: 820px) {
        padding-left: 1rem;
    }
}

.links__about {

    @media screen and (max-width: 1180px) and (min-width: 820px) {
        width: 50%;
    }
}


