.links__logo {
    -webkit-filter: invert(1);
    filter: invert(1);
    width: 6.3rem;
    padding-bottom: 1rem;

    @media screen and (max-width: 1180px) and (min-width: 820px) {
        width: 12rem;
    }
}

.links__info {
    font-size: 1.2rem;

    @media screen and (max-width: 1180px) and (min-width: 820px) {
        font-size: 1.8rem;
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;

        & a:nth-child(2) {
            order: 3;
        }

        & a:nth-child(4) {
            order: 3;
        }
    }
}

.links__info a {
    padding-bottom: 0.5rem;
    text-decoration: none;
    color: white;
}

.links__icon {
    padding-right: 0.5rem;
    font-size: small;

    @media screen and (max-width: 1180px) and (min-width: 820px) {
        font-size: large;
    }
}

.links {
    
    background-color: rgb(64,64,64);
    width: 100%;
    padding: 2rem 1rem 1.5rem 1rem;
    
}

.links__about {

    @media screen and (max-width: 1180px) and (min-width: 820px) {
        width: 50%;
    }
}

.links__about--bottom {

    @media screen and (max-width: 1180px) and (min-width: 820px) {
        // margin-left: 2rem;
        // outline: 2px solid green;
        width: 40%;
    }
}

// .links__about--bottom-2 {

//     @media screen and (max-width: 1180px) and (min-width: 820px) {
//         margin-left: 7.5rem;
//     }
