.top {
    position: relative;
}

.top__logo {
    width: 12em;
    margin: 1.5em 0 1em 6em;
    
    @media screen and (max-width: 1180px) and (min-width: 820px) {
        width: 25em;
        margin-left: 4rem;
    }

    @media screen and (max-width: 1444px) and (min-width: 1185px) {
        width: 22rem;
    }
}

.top__icon {
    margin-right: 0.7em;
}

.top__loc {
    padding: 1rem 0 1rem 6rem;
    font-size: 1.18rem;
    background-color: rgb(232, 230, 230);
    border-top: 0.2em solid lightgray;

    @media screen and (max-width: 1444px) and (min-width: 820px) {
        width: 14rem;
        font-size: 1.3rem;
        border-top: none;
        padding: 1rem;
        border-radius: 2rem;
        position: absolute;
        top: 1.5rem;
        right: 5rem;
        border: 0.1em solid lightgray;
    }
}

.top__guide {
    background-color: rgb(243, 242, 242);
    text-align: center;
    padding: 3rem 0;

    @media screen and (max-width: 1180px) and (min-width: 820px) {
        border-top: 0.2em solid lightgray;
        font-size: 1.3rem;
    }
}

.top__moto {
    padding-bottom: 2.3rem;

    @media screen and (max-width: 1444px) and (min-width: 1185px) {
        align-items: center;
    }
}

.top__moto--thin {
    width: 21rem;
    @include font-weight(light);
    padding: 0 0 1rem 2rem;
    font-size: 1.2em;

    @media screen and (max-width: 1444px) and (min-width: 820px) {
        text-align: center;
        width: 100%;
        padding-bottom: 3rem;
    }
}

.top__btn {
    background: linear-gradient(to bottom, $secondary-color 0%, $primary-color 100% );
    margin: 0 4rem;
    border-radius: 5rem;
    padding: 1rem 0;
    color: white;

    @media screen and (max-width: 1180px) and (min-width: 820px) {
        margin-left: 26rem;
        width: 20rem;
    }

    @media screen and (max-width: 992px) and (min-width: 768px) {
        margin-left: 16rem;
    }

    @media screen and (max-width: 1444px) and (min-width: 1185px) {
        margin-left: 25rem;
        width: 30rem;
    }
}

.top__arrow {
    font-size: x-large;
    margin-left: 1rem;
    position: absolute;
    top: 1.75rem;

    @media screen and (max-width: 1180px) and (min-width: 820px) {
        top: 3rem;
        font-size: xx-large;
    }

    @media screen and (max-width: 1444px) and (min-width: 1185px) {
        top: 2.5rem;
    }
}