@keyframes menu-item {
    0% {
        opacity: 0;
        margin-top: 3rem;
    }

    10% {
        margin-top: 3rem;
    }

    100% {
        opacity: 1;
        margin-top: 1rem;
    }

}

@keyframes spin {
    0% {
        opacity: 100%;
    }

    50% {

    }

    100% {
        opacity: 0;
    }
}

.load {
    position: fixed;
    top: 40%;
    left: 32%;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background: linear-gradient($primary-color, $secondary-color, #tertiary-color);
    animation: orbit 3s linear forwards;
    z-index: 100;
    animation-delay: 0.5s;

    @media screen and (max-width: 1444px) and (min-width: 663px) {
        top: 50%;
        left: 45%;
    }
}

.load span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient($primary-color, $secondary-color, $tertiary-color);
}

.load span:nth-child(1) {
    filter: blur(0.313rem);
}

.load span:nth-child(2) {
    filter: blur(0.625rem);
}

.load span:nth-child(3) {
    filter: blur(1.563rem);
}

.load:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: rgb(239, 236, 236);
    border: solid white 0.5rem;
    border-radius: 50%;
    z-index: 100;
}

@keyframes orbit { 
    0% { 
        transform:rotate(0deg);
        opacity: 1;
        z-index: 100;
    }

    75% {
        opacity: 1;
    }

    95% {
        opacity: 0.5;
        z-index: 20;
    }

    97% {
        opacity: 0.5;
    }

    99% {
        opacity: 0.05;
    }

    100% { 
        transform:rotate(360deg);
        opacity: 0;
        z-index: -10;
    } 
}

.top, .direc, .rest, .links, .img, .rest__menu, .food, .links, .rest__btn {
    animation: fade 3s linear forwards;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    97% {
        opacity: 0;
    }
    98% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}