.rest {
    margin: 0 1rem;
    @media screen and (max-width: 1180px) and (min-width: 820px) {
        margin: 0 3rem;
    }
}

.rest__head {

    @media screen and (max-width: 1180px) and (min-width: 820px) {
        font-size: 2rem;
        padding: 3rem 0 0 0;
    }

    @media screen and (max-width: 1444px) and (min-width: 1185px) {
        padding-left: 2rem;
    }
}

.rest__new {
    background-color: $tertiary-color;
    padding: 0.5rem 2rem;
    color: darken($tertiary-color, 37%);
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.rest__stack {
    margin: 0 ;

    @media screen and (max-width: 1180px) and (min-width: 820px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
    }

    @media screen and (max-width: 1444px) and (min-width: 1185px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 1%;
        width: 100%;
    }

    section:nth-child(1) {

        @media screen and (max-width: 1444px) and (min-width: 1185px){
            margin-right: 50.5rem;
        } 
    }
}

.rest__img {
    object-fit: cover;
    width: 100%;
    height: 12rem;
    background-position: bottom 5rem right 5rem;
    border-radius: 1rem 1rem 0 0;
} 

#rest__img--enchant {
    object-position: 0px -150px;
}

.rest__text {
    padding: 1rem 0 1rem 1rem;
}

.rest__title {
    font-size: 1.3rem;
    padding-bottom: 0.3rem;
}

.rest__city {
    font-size: 1.3rem;
}

.rest__icon {
    position: absolute;
    font-size: x-large;
    transition: opacity 500ms;
}

.rest__heart:hover .rest__icon--full {
    opacity: 0;
    transition: opacity 500ms;
}

.rest__icon--full {
   outline: blue 1px;
    opacity: 1;
    
}

.rest__icon--empty {
    opacity: 0;
    background: linear-gradient(rgba(250,184,66, 1), #31A);
    -webkit-background-clip: text;
    background-clip: text;
  -webkit-text-fill-color: transparent;

  /* fallback in case linear gradient doesn't work in the browser */
  color: rgba(250,184,66, 1);
}
.rest__heart {
    position: absolute;
    top: 15rem;
    right: 3rem;
}

.rest__heart:hover {
    .rest__icon--empty {
        opacity: 1;
        background: linear-gradient(to bottom, $secondary-color 0%, $primary-color 100% );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
  
        /* fallback in case linear gradient doesn't work in the browser */
        color: rgba(250,184,66, 1);
        transition: opacity 500ms;
    }
}

.rest__card--link {
    text-decoration: none;
    color: black;
    margin: 2rem 0;
}

.rest__card {
    position: relative;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: black;
    margin: 2rem 0;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.5rem 0.5rem lightgray;
    outline: 1px solid green;

    @media screen and (max-width: 1180px) and (min-width: 820px) {
        width: 47%;
    }

    @media screen and (max-width: 1444px) and (min-width: 1185px) {
        width: 30%;
    }

}