.direc {

    @media screen and (max-width: 1444px) and (min-width: 1185px) {
        position: absolute;
        top: 25.5rem;
        right: 8rem;
        width: 37rem;
        z-index: 10;
    }
}

.direc h2 {
    margin-left: 1em;
    padding-top: 2rem;

    @media screen and (max-width: 1180px) and (min-width: 820px) {
        font-size: 2rem;
        margin-left: 4em;
    }

    @media screen and (max-width: 992px) and (min-width: 768px) {
        margin-left: 1em;
    }

    @media screen and (max-width: 1444px) and (min-width: 1185px) {
        padding-bottom: 2rem;
    }
}

.direc__list {

    @media screen and (max-width: 1180px) and (min-width: 820px) {
        margin: 0 6rem;
        font-size: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    @media screen and (max-width: 992px) and (min-width: 768px) {
        margin: 0 2rem;
    }
}

.direc__text {
    background-color: rgb(243, 242, 242);
    border-radius: 1.2rem;
    padding: 1.5rem 0;
    margin: 1rem 2rem;
    box-shadow: 0.3em 0.5em 0.5em lightgrey;
    transition: background-color 500ms;

    @media screen and (max-width: 1180px) and (min-width: 820px) {
        width: 25rem;
    }

    @media screen and (max-width: 992px) and (min-width: 768px) {
        width: 30rem;
    }
}

.direc__text:hover {
    background-color: rgba($primary-color, $alpha: 0.2);
    transition: background-color 500ms;
}

#direc__text--3 {

    @media screen and (max-width: 1180px) and (min-width: 820px) {
        width: 30rem;
    }
}

.direc__number {
    margin: 0 -0.8rem;
    background-color: $primary-color;
    color: white;
    padding: 0.3rem 0.6rem;
    height: 1em;
    border-radius: 50%;

    @media screen and (max-width: 1180px) and (min-width: 820px) {
        padding: 0.4rem 0.8rem;
    }
}

.direc__icon {
    padding-right: 1rem;
}

.direc__btn {
    padding-left: 2rem;  
}